client/designs/pages/config_client/resusable_popup.json
[
    {
        "id": "sd_1hOc77lKtHlAn5Fr",
        "type": "tab",
        "createdDate": "2022-12-29T17:39:24.746Z",
        "label": "resusable_popup",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "resusable_popupComponent"
    },
    {
        "id": "sd_vqulKHKT72zXceag",
        "type": "OnInit",
        "z": "sd_1hOc77lKtHlAn5Fr",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_vqulKHKT72zXceag",
        "category": "Lifecycle Events",
        "x": 65,
        "y": 40,
        "wires": [
            [
                "sd_BKdI6WHqQEBe0XeD"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "resusable_popupComponent"
    },
    {
        "id": "sd_BKdI6WHqQEBe0XeD",
        "type": "PageVariables",
        "z": "sd_1hOc77lKtHlAn5Fr",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [],
        "functionName": "sd_BKdI6WHqQEBe0XeD",
        "category": "Function",
        "x": 185,
        "y": 40,
        "wires": [
            [
                "sd_5E324qtmyNb6meiv"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "resusable_popupComponent",
        "generated": true
    },
    {
        "id": "sd_IZlUe2iUYqLoCzs5",
        "type": "GetDialogData",
        "z": "sd_1hOc77lKtHlAn5Fr",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "dialogDataMapping": "this.page.popup",
        "functionName": "sd_IZlUe2iUYqLoCzs5",
        "category": "Dialog",
        "x": 385,
        "y": 40,
        "wires": [
            [
                "sd_ZQM1qaMCmbFGVBUP"
            ]
        ],
        "__ssdTypeInputs__": {
            "dialogDataMapping": {
                "type": "this.page",
                "value": "popup",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "resusable_popupComponent",
        "generated": true
    },
    {
        "id": "sd_roEx8P8X37JkYdEJ",
        "type": "PageStart",
        "z": "sd_1hOc77lKtHlAn5Fr",
        "viewType": "pages",
        "nodeType": "start",
        "name": "close_popup",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "dataupdated",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "close_popup",
        "category": "General",
        "x": 85,
        "y": 160,
        "wires": [
            [
                "sd_fpYlT0B2Re3KOEHt"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "resusable_popupComponent"
    },
    {
        "id": "sd_fpYlT0B2Re3KOEHt",
        "type": "CloseDialog",
        "z": "sd_1hOc77lKtHlAn5Fr",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "data": "bh.input.dataupdated",
        "functionName": "sd_fpYlT0B2Re3KOEHt",
        "category": "Dialog",
        "x": 245,
        "y": 160,
        "wires": [
            []
        ],
        "__ssdTypeInputs__": {
            "data": {
                "type": "bh.input",
                "value": "dataupdated",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "resusable_popupComponent",
        "generated": true
    },
    {
        "id": "sd_u4aZ1HadLV7EE5pc",
        "type": "Script",
        "z": "sd_1hOc77lKtHlAn5Fr",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.add_form = new FormGroup({\n    'project_name': new FormControl(''),\n    'project_code': new FormControl(''),\n    'project_start_date': new FormControl(new Date()),\n});\nif(page.popup.action == 'edit') {\n    page.add_form.addControl('project_id',new FormControl(''));\n    this.setValues(page.popup.data);\n}",
        "functionName": "sd_u4aZ1HadLV7EE5pc",
        "category": "Function",
        "x": 825,
        "y": 40,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "resusable_popupComponent",
        "generated": true
    },
    {
        "id": "sd_5E324qtmyNb6meiv",
        "type": "UseDependency",
        "z": "sd_1hOc77lKtHlAn5Fr",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "FormGroup",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/forms",
        "serviceDesignerType": "pages",
        "functionName": "sd_5E324qtmyNb6meiv",
        "category": "Function",
        "x": 285,
        "y": 40,
        "wires": [
            [
                "sd_IZlUe2iUYqLoCzs5"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "resusable_popupComponent",
        "generated": true
    },
    {
        "id": "sd_n7JtRPHd5MbW5C6y",
        "type": "PageStart",
        "z": "sd_1hOc77lKtHlAn5Fr",
        "viewType": "pages",
        "nodeType": "start",
        "name": "addRecord",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "addRecord",
        "category": "General",
        "x": 85,
        "y": 260,
        "wires": [
            [
                "sd_9IFS4fHMJfGgKnmv"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "resusable_popupComponent"
    },
    {
        "id": "sd_ZQM1qaMCmbFGVBUP",
        "type": "PageSwitch",
        "z": "sd_1hOc77lKtHlAn5Fr",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "popup.popup_name",
        "propertyType": "this.page",
        "propertyGv": "this.page.popup.popup_name",
        "rules": [
            {
                "t": "eq",
                "v": "project",
                "vt": "str",
                "gv": "\"project\""
            },
            {
                "t": "eq",
                "v": "client",
                "vt": "str",
                "gv": "\"client\""
            },
            {
                "t": "eq",
                "v": "hr contact info",
                "vt": "str",
                "gv": "\"hr contact info\""
            },
            {
                "t": "eq",
                "v": "employee type",
                "vt": "str",
                "gv": "\"employee type\""
            },
            {
                "t": "eq",
                "v": "employee",
                "vt": "str",
                "gv": "\"employee\""
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 5,
        "functionName": "sd_ZQM1qaMCmbFGVBUP",
        "category": "Function",
        "x": 645,
        "y": 40,
        "wires": [
            [
                "sd_u4aZ1HadLV7EE5pc"
            ],
            [
                "sd_Fk99JSHzsHubZBID"
            ],
            [
                "sd_4ULrw9RMpcPUnrXO"
            ],
            [
                "sd_Pz6WEm6Pq5QX0uya"
            ],
            [
                "sd_k8Zhn5MjZFy70mfm"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "resusable_popupComponent",
        "generated": true
    },
    {
        "id": "sd_Fk99JSHzsHubZBID",
        "type": "Script",
        "z": "sd_1hOc77lKtHlAn5Fr",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.add_form = new FormGroup({\n    'client_name': new FormControl(''),\n});\nif(page.popup.action == 'edit') {\n    page.add_form.addControl('client_id',new FormControl(''));\n    this.setValues(page.popup.data);\n}",
        "functionName": "sd_Fk99JSHzsHubZBID",
        "category": "Function",
        "x": 825,
        "y": 120,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "resusable_popupComponent",
        "generated": true
    },
    {
        "id": "sd_dc14tzeqMnd1sTt0",
        "type": "PageStart",
        "z": "sd_1hOc77lKtHlAn5Fr",
        "viewType": "pages",
        "nodeType": "start",
        "name": "setValues",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "values",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "setValues",
        "category": "General",
        "x": 105,
        "y": 660,
        "wires": [
            [
                "sd_WE6JzU7bbm57bTGK"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "resusable_popupComponent"
    },
    {
        "id": "sd_WE6JzU7bbm57bTGK",
        "type": "Script",
        "z": "sd_1hOc77lKtHlAn5Fr",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.add_form.patchValue(bh.input.values);",
        "functionName": "sd_WE6JzU7bbm57bTGK",
        "category": "Function",
        "x": 265,
        "y": 660,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "resusable_popupComponent",
        "generated": true
    },
    {
        "id": "sd_JzH12P0qeRxswRmF",
        "type": "PageCallService",
        "z": "sd_1hOc77lKtHlAn5Fr",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_Hc0qTKh9zmt6TrEm",
            "type": "tab",
            "createdDate": "2022-12-30T08:51:49.409Z",
            "label": "add_or_update_project",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_NRsHfPbly1AYsA15",
            "flowName": "add_or_update_project"
        },
        "inputVariables": [
            {
                "key": "projectValues",
                "map": true,
                "valueType": "this.page",
                "value": "add_form.value"
            },
            {
                "key": "response",
                "map": true,
                "valueType": "bh",
                "value": ""
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "input",
                "key": "response",
                "valueType": "bh.local",
                "value": "response",
                "mapVarName": "response",
                "localVar": "bh.local.response"
            }
        ],
        "serviceImportPath": "app/sd-services/add_or_update_project",
        "startName": "add_or_update_project",
        "inputParams": [
            "this.page.add_form.value",
            null
        ],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_JzH12P0qeRxswRmF",
        "category": "General",
        "x": 345,
        "y": 200,
        "wires": [
            [
                "sd_b4Cq51Nwc6n2Vlmj"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "resusable_popupComponent",
        "generated": true
    },
    {
        "id": "sd_9IFS4fHMJfGgKnmv",
        "type": "PageSwitch",
        "z": "sd_1hOc77lKtHlAn5Fr",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "popup.popup_name",
        "propertyType": "this.page",
        "propertyGv": "this.page.popup.popup_name",
        "rules": [
            {
                "t": "eq",
                "v": "project",
                "vt": "str",
                "gv": "\"project\""
            },
            {
                "t": "eq",
                "v": "client",
                "vt": "str",
                "gv": "\"client\""
            },
            {
                "t": "eq",
                "v": "hr contact info",
                "vt": "str",
                "gv": "\"hr contact info\""
            },
            {
                "t": "eq",
                "v": "employee type",
                "vt": "str",
                "gv": "\"employee type\""
            },
            {
                "t": "eq",
                "v": "employee",
                "vt": "str",
                "gv": "\"employee\""
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 5,
        "functionName": "sd_9IFS4fHMJfGgKnmv",
        "category": "Function",
        "x": 205,
        "y": 260,
        "wires": [
            [
                "sd_JzH12P0qeRxswRmF"
            ],
            [
                "sd_f1NIpxtsy0eghUgK"
            ],
            [
                "sd_G4jnMo0kJoi3QeHe"
            ],
            [
                "sd_t0DjNBkaFtqG7VAy"
            ],
            [
                "sd_ZUee6vY85X6UBZ30"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "resusable_popupComponent",
        "generated": true
    },
    {
        "id": "sd_f1NIpxtsy0eghUgK",
        "type": "PageCallService",
        "z": "sd_1hOc77lKtHlAn5Fr",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_35TZRpoubNqfddNl",
            "type": "tab",
            "createdDate": "2022-12-29T09:52:58.437Z",
            "label": "client",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_RYzlJZD2Ye7whogi",
            "flowName": "add_or_update_client"
        },
        "inputVariables": [
            {
                "key": "clientValues",
                "map": true,
                "valueType": "this.page",
                "value": "add_form.value"
            },
            {
                "key": "response",
                "map": true,
                "valueType": "bh",
                "value": ""
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "input",
                "key": "response",
                "valueType": "bh.local",
                "value": "response",
                "mapVarName": "response",
                "localVar": "bh.local.response"
            }
        ],
        "serviceImportPath": "app/sd-services/client",
        "startName": "add_or_update_client",
        "inputParams": [
            "this.page.add_form.value",
            null
        ],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_f1NIpxtsy0eghUgK",
        "category": "General",
        "x": 345,
        "y": 280,
        "wires": [
            [
                "sd_b4Cq51Nwc6n2Vlmj"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "resusable_popupComponent",
        "generated": true
    },
    {
        "id": "sd_b4Cq51Nwc6n2Vlmj",
        "type": "SnackBar",
        "z": "sd_1hOc77lKtHlAn5Fr",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "bh.local",
            "value": "response.message"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "2000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_b4Cq51Nwc6n2Vlmj",
        "category": "General",
        "x": 505,
        "y": 280,
        "wires": [
            [
                "sd_1XvhMbzisEWKwZXd"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "resusable_popupComponent",
        "generated": true
    },
    {
        "id": "sd_1XvhMbzisEWKwZXd",
        "type": "PageCallService",
        "z": "sd_1hOc77lKtHlAn5Fr",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "close",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_1hOc77lKtHlAn5Fr",
            "type": "tab",
            "createdDate": "2022-12-29T17:39:24.746Z",
            "label": "resusable_popup",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_roEx8P8X37JkYdEJ",
            "flowName": "close_popup"
        },
        "inputVariables": [
            {
                "key": "dataupdated",
                "map": false,
                "value": "true"
            }
        ],
        "outputMapping": [],
        "serviceImportPath": "./",
        "startName": "close_popup",
        "inputParams": [
            "true"
        ],
        "accept_bh": false,
        "accept_csd": false,
        "functionName": "close",
        "category": "General",
        "x": 625,
        "y": 280,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "resusable_popupComponent",
        "generated": true
    },
    {
        "id": "sd_4ULrw9RMpcPUnrXO",
        "type": "Script",
        "z": "sd_1hOc77lKtHlAn5Fr",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.add_form = new FormGroup({\n    'hr_id': new FormControl(''),\n});\nif(page.popup.action == 'edit') {\n    page.add_form.addControl('hr_contact_number',new FormControl(''));\n    this.setValues(page.popup.data);\n}",
        "functionName": "sd_4ULrw9RMpcPUnrXO",
        "category": "Function",
        "x": 825,
        "y": 220,
        "wires": [
            [
                "sd_Y4M3KH7Qo029B9L8"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "resusable_popupComponent",
        "generated": true
    },
    {
        "id": "sd_G4jnMo0kJoi3QeHe",
        "type": "PageCallService",
        "z": "sd_1hOc77lKtHlAn5Fr",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_EHFBoAHQE5qcm1MD",
            "type": "tab",
            "createdDate": "2022-12-30T06:00:59.161Z",
            "label": "get_hr_info",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_xGHcokoZKIidgWAQ",
            "flowName": "add_or_update_hr_contact_info"
        },
        "inputVariables": [
            {
                "key": "hrValues",
                "map": true,
                "valueType": "this.page",
                "value": "add_form.value"
            },
            {
                "key": "response",
                "map": true,
                "valueType": "bh",
                "value": ""
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "input",
                "key": "response",
                "valueType": "bh.local",
                "value": "response",
                "mapVarName": "response",
                "localVar": "bh.local.response"
            }
        ],
        "serviceImportPath": "app/sd-services/get_hr_info",
        "startName": "add_or_update_hr_contact_info",
        "inputParams": [
            "this.page.add_form.value",
            null
        ],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_G4jnMo0kJoi3QeHe",
        "category": "General",
        "x": 345,
        "y": 360,
        "wires": [
            [
                "sd_b4Cq51Nwc6n2Vlmj"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "resusable_popupComponent",
        "generated": true
    },
    {
        "id": "sd_93RfvtHYEcvzcbuq",
        "type": "Script",
        "z": "sd_1hOc77lKtHlAn5Fr",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "let details = bh.local.emp_response.response;\npage.hr_list = [];\nfor(let employee of details){\n    if(employee.designation_id == 1){\n        let emp = {};\n        Object.assign(emp,{hr_name : employee.employee_name});\n        Object.assign(emp,{hr_id : employee.employee_id});\n        page.hr_list.push(emp);\n    }\n}\n",
        "functionName": "sd_93RfvtHYEcvzcbuq",
        "category": "Function",
        "x": 1045,
        "y": 220,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "resusable_popupComponent",
        "generated": true
    },
    {
        "id": "sd_Y4M3KH7Qo029B9L8",
        "type": "PageCallService",
        "z": "sd_1hOc77lKtHlAn5Fr",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_Im0ZaV3RMDKb0ciS",
            "type": "tab",
            "createdDate": "2022-12-26T11:58:17.071Z",
            "label": "employees_api",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_ajxU3hO2hGMNUNuw",
            "flowName": "getEmpList"
        },
        "inputVariables": [
            {
                "key": "is_active",
                "map": false,
                "value": "true"
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "result",
                "valueType": "bh.local",
                "value": "emp_response",
                "mapVarName": "result",
                "localVar": "bh.local.emp_response"
            }
        ],
        "serviceImportPath": "app/sd-services/employees_api",
        "startName": "getEmpList",
        "inputParams": [
            "true"
        ],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_Y4M3KH7Qo029B9L8",
        "category": "General",
        "x": 945,
        "y": 220,
        "wires": [
            [
                "sd_93RfvtHYEcvzcbuq"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "resusable_popupComponent",
        "generated": true
    },
    {
        "id": "sd_Pz6WEm6Pq5QX0uya",
        "type": "Script",
        "z": "sd_1hOc77lKtHlAn5Fr",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.add_form = new FormGroup({\n    'employee_type_name': new FormControl(''),\n});\nif(page.popup.action == 'edit') {\n    page.add_form.addControl('employee_type_id',new FormControl(''));\n    this.setValues(page.popup.data);\n}",
        "functionName": "sd_Pz6WEm6Pq5QX0uya",
        "category": "Function",
        "x": 824.3333129882812,
        "y": 300.8020935058594,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "resusable_popupComponent",
        "generated": true
    },
    {
        "id": "sd_t0DjNBkaFtqG7VAy",
        "type": "PageCallService",
        "z": "sd_1hOc77lKtHlAn5Fr",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_dFWmPvYRall5NhAO",
            "type": "tab",
            "createdDate": "2023-01-05T07:19:40.304Z",
            "label": "employee_type",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_4a06d00zAGcn2AoW",
            "flowName": "add_or_update_employee_type"
        },
        "inputVariables": [
            {
                "key": "typeValues",
                "map": true,
                "valueType": "this.page",
                "value": "add_form.value"
            },
            {
                "key": "response",
                "map": true,
                "valueType": "bh",
                "value": ""
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "input",
                "key": "response",
                "valueType": "bh.local",
                "value": "response",
                "mapVarName": "response",
                "localVar": "bh.local.response"
            }
        ],
        "serviceImportPath": "app/sd-services/employee_type",
        "startName": "add_or_update_employee_type",
        "inputParams": [
            "this.page.add_form.value",
            null
        ],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_t0DjNBkaFtqG7VAy",
        "category": "General",
        "x": 345,
        "y": 440,
        "wires": [
            [
                "sd_b4Cq51Nwc6n2Vlmj"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "resusable_popupComponent",
        "generated": true
    },
    {
        "id": "sd_k8Zhn5MjZFy70mfm",
        "type": "Script",
        "z": "sd_1hOc77lKtHlAn5Fr",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.add_form = new FormGroup({\n    'employee_name': new FormControl('',[Validators.required]),\n    'contact_no': new FormControl('',[Validators.required,Validators.pattern(/^[0-9]{10,10}$/), Validators.minLength(10), Validators.maxLength(10)]),\n   // 'contact_no': new FormControl(''),\n    \n});\nif(page.popup.action == 'edit') {\n    page.add_form.addControl('employee_id',new FormControl(''));\n    this.setValues(page.popup.data);\n}",
        "functionName": "sd_k8Zhn5MjZFy70mfm",
        "category": "Function",
        "x": 825,
        "y": 400,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "resusable_popupComponent",
        "generated": true
    },
    {
        "id": "sd_ZUee6vY85X6UBZ30",
        "type": "PageCallService",
        "z": "sd_1hOc77lKtHlAn5Fr",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_7dHz0o3LrIPpklg3",
            "type": "tab",
            "createdDate": "2023-01-08T16:11:24.953Z",
            "label": "emp_details_service",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_KGIMGOoDTPR1ENc1",
            "flowName": "add_or_update_employee"
        },
        "inputVariables": [
            {
                "key": "emp_detailsValues",
                "map": true,
                "valueType": "this.page",
                "value": "add_form.value"
            },
            {
                "key": "response",
                "map": true,
                "valueType": "bh",
                "value": ""
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "input",
                "key": "emp_detailsValues",
                "valueType": "bh",
                "value": "",
                "mapVarName": "emp_detailsValues"
            },
            {
                "mapVarType": "input",
                "key": "response",
                "valueType": "bh.local",
                "value": "response",
                "mapVarName": "response",
                "localVar": "bh.local.response"
            }
        ],
        "serviceImportPath": "app/sd-services/emp_details_service",
        "startName": "add_or_update_employee",
        "inputParams": [
            "this.page.add_form.value",
            null
        ],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_ZUee6vY85X6UBZ30",
        "category": "General",
        "x": 341.6666564941406,
        "y": 534.6701049804688,
        "wires": [
            [
                "sd_b4Cq51Nwc6n2Vlmj"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "resusable_popupComponent",
        "generated": true
    }
]
