client/designs/pages/base_layout/home.json
[
    {
        "id": "sd_gBcQp0vEWNxFyA59",
        "type": "tab",
        "createdDate": "2022-12-13T14:56:54.805Z",
        "label": "home",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "homeComponent"
    },
    {
        "id": "sd_rr8Z4lKHrzLQfDPO",
        "type": "OnInit",
        "z": "sd_gBcQp0vEWNxFyA59",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "inputVariables": [],
        "localVariables": [],
        "outputVariables": [],
        "pageVariables": [],
        "functionName": "sd_rr8Z4lKHrzLQfDPO",
        "category": "Lifecycle Events",
        "x": 45,
        "y": 40,
        "wires": [
            [
                "sd_OM8hOwnKReTlbqR8"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "homeComponent"
    },
    {
        "id": "sd_OM8hOwnKReTlbqR8",
        "type": "PageVariables",
        "z": "sd_gBcQp0vEWNxFyA59",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "showlable",
                "typedIpValue": {
                    "type": "literal",
                    "value": "true"
                }
            }
        ],
        "functionName": "sd_OM8hOwnKReTlbqR8",
        "category": "Function",
        "x": 165,
        "y": 40,
        "wires": [
            [
                "sd_yhV1pEnGLL2lKFCH"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "homeComponent",
        "generated": true
    },
    {
        "id": "sd_yhV1pEnGLL2lKFCH",
        "type": "UseDependency",
        "z": "sd_gBcQp0vEWNxFyA59",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "commonService",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "commonservice"
                },
                "injectable": true
            }
        ],
        "import_all": false,
        "library": "../../services/common/common.service",
        "serviceDesignerType": "pages",
        "functionName": "sd_yhV1pEnGLL2lKFCH",
        "category": "Function",
        "x": 285,
        "y": 40,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "homeComponent",
        "generated": true
    }
]
