client/designs/pages/employee_details.json
[
    {
        "id": "sd_lJYO07SmnSBK12KX",
        "type": "tab",
        "createdDate": "2022-12-14T07:48:13.226Z",
        "label": "employee_details",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "employee_detailsComponent"
    },
    {
        "id": "sd_TtYOYb9grIpWEtaW",
        "type": "OnInit",
        "z": "sd_lJYO07SmnSBK12KX",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "inputVariables": [],
        "localVariables": [],
        "outputVariables": [],
        "pageVariables": [],
        "functionName": "sd_TtYOYb9grIpWEtaW",
        "category": "Lifecycle Events",
        "x": 65,
        "y": 40,
        "wires": [
            [
                "sd_5PXnOlgAs7QkbLRZ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "employee_detailsComponent"
    },
    {
        "id": "sd_5PXnOlgAs7QkbLRZ",
        "type": "PageVariables",
        "z": "sd_lJYO07SmnSBK12KX",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [
            {
                "textIp": "employee_type",
                "typedIpValue": {
                    "type": "literal",
                    "value": "[]"
                }
            },
            {
                "textIp": "designation_list",
                "typedIpValue": {
                    "type": "literal",
                    "value": "[]"
                }
            },
            {
                "textIp": "managers_list",
                "typedIpValue": {
                    "type": "literal",
                    "value": "[]"
                }
            },
            {
                "textIp": "today",
                "typedIpValue": {
                    "type": "literal",
                    "value": "new Date()"
                }
            }
        ],
        "functionName": "sd_5PXnOlgAs7QkbLRZ",
        "category": "Function",
        "x": 165,
        "y": 40,
        "wires": [
            [
                "sd_De4nh3DiVZozFgCn"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "employee_detailsComponent",
        "generated": true
    },
    {
        "id": "sd_AEgyo5FJ7rtLN5sj",
        "type": "PageStart",
        "z": "sd_lJYO07SmnSBK12KX",
        "viewType": "pages",
        "nodeType": "start",
        "name": "add_employee",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "add_employee",
        "category": "General",
        "x": 65,
        "y": 140,
        "wires": [
            [
                "sd_9oXqYqb9h2MWBe71"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "employee_detailsComponent"
    },
    {
        "id": "sd_FgAqgBcLRQH13pvo",
        "type": "PageStart",
        "z": "sd_lJYO07SmnSBK12KX",
        "viewType": "pages",
        "nodeType": "start",
        "name": "close_popup",
        "outputs": 1,
        "inputVariables": [
            {
                "key": "employee_details",
                "defaultValue": {
                    "type": "any",
                    "value": ""
                },
                "output": false
            }
        ],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "close_popup",
        "category": "General",
        "x": 65,
        "y": 240,
        "wires": [
            [
                "sd_0nNP1QCfmlInXbol"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "employee_detailsComponent"
    },
    {
        "id": "sd_0nNP1QCfmlInXbol",
        "type": "CloseDialog",
        "z": "sd_lJYO07SmnSBK12KX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "data": "bh.local.addemp",
        "functionName": "sd_0nNP1QCfmlInXbol",
        "category": "Dialog",
        "x": 225,
        "y": 240,
        "wires": [
            []
        ],
        "__ssdTypeInputs__": {
            "data": {
                "type": "bh.local",
                "value": "addemp",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "employee_detailsComponent",
        "generated": true
    },
    {
        "id": "sd_WTQ7m1Cj84bzo68i",
        "type": "Script",
        "z": "sd_lJYO07SmnSBK12KX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.add_employee_form = new FormGroup({\n    'employee_id': new FormControl('',[Validators.required,Validators.pattern(/^[0-9]/)]),\n    'first_name': new FormControl('',[Validators.required]),\n    'last_name': new FormControl('',[Validators.required]),\n    'employee_type': new FormControl('',[Validators.required]),\n    'start_date': new FormControl(new Date(),[Validators.required]),\n    // 'end_date': new FormControl(''),\n    'designation': new FormControl('',[Validators.required]),\n    'reporting_managers': new FormControl(''),\n    'email': new FormControl('',[Validators.email]),\n    'contact_no': new FormControl('',[Validators.required,Validators.pattern(/^[0-9]{10,10}$/)]),\n});\n\n\n//Fetching edit emp details\n\n//     let joining_date = new Date(page.sample.start_date);\n//     let last_date = new Date(page.sample.end_date);\n\n// page.add_employee_form.controls['employee_id'].setValue(page.sample.employee_id);\n// page.add_employee_form.controls['first_name'].setValue((page.sample.employee_name).split(' ')[0]);\n// page.add_employee_form.controls['last_name'].setValue((page.sample.employee_name).split(' ').at(-1));\n// page.add_employee_form.controls['start_date'].setValue(joining_date);\n// page.add_employee_form.controls['end_date'].setValue(last_date);\n// page.add_employee_form.controls['reporting_managers'].setValue(page.sample?.reporting_manager);\n// page.add_employee_form.controls['email'].setValue(page.sample.email);\n// page.add_employee_form.controls['contact_no'].setValue(page.sample.contact_no);\n// page.add_employee_form.controls['employee_type'].setValue(page.sample.employee_type_id);\n// page.add_employee_form.controls['designation'].setValue(page.sample.designation_id);\n\n\npage.active_employee = true;\n\nif(page.sample != ''){\n  page.header = \"Edit Employee\";\n  this.editEmployee();\n}else{\n    page.header = \"Add Employee\";\n}",
        "functionName": "sd_WTQ7m1Cj84bzo68i",
        "category": "Function",
        "x": 465,
        "y": 40,
        "wires": [
            [
                "sd_7fo16ptWP55dH9gQ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "employee_detailsComponent",
        "generated": true
    },
    {
        "id": "sd_De4nh3DiVZozFgCn",
        "type": "UseDependency",
        "z": "sd_lJYO07SmnSBK12KX",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "FormGroup",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/forms",
        "serviceDesignerType": "pages",
        "functionName": "sd_De4nh3DiVZozFgCn",
        "category": "Function",
        "x": 265,
        "y": 40,
        "wires": [
            [
                "sd_qldiFAFQrTzbuB5A"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "employee_detailsComponent",
        "generated": true
    },
    {
        "id": "sd_qldiFAFQrTzbuB5A",
        "type": "GetDialogData",
        "z": "sd_lJYO07SmnSBK12KX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "dialogDataMapping": "this.page.sample",
        "functionName": "sd_qldiFAFQrTzbuB5A",
        "category": "Dialog",
        "x": 365,
        "y": 40,
        "wires": [
            [
                "sd_WTQ7m1Cj84bzo68i"
            ]
        ],
        "__ssdTypeInputs__": {
            "dialogDataMapping": {
                "type": "this.page",
                "value": "sample",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "employee_detailsComponent",
        "generated": true
    },
    {
        "id": "sd_7fo16ptWP55dH9gQ",
        "type": "PageCallService",
        "z": "sd_lJYO07SmnSBK12KX",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "emp_details",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_QNxCOa5ZMgTaoHtI",
            "type": "tab",
            "createdDate": "2022-12-27T06:04:10.640Z",
            "label": "employee_details",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_lC20Dv6aubOopna9",
            "flowName": "get_details_emp"
        },
        "inputVariables": [],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "result",
                "valueType": "bh.local",
                "value": "result",
                "mapVarName": "result",
                "localVar": "bh.local.result"
            }
        ],
        "serviceImportPath": "app/sd-services/employee_details",
        "startName": "get_details_emp",
        "inputParams": [],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "emp_details",
        "category": "General",
        "x": 565,
        "y": 40,
        "wires": [
            [
                "sd_MKQz4rcZ8HorIjUK"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "employee_detailsComponent",
        "generated": true
    },
    {
        "id": "sd_MKQz4rcZ8HorIjUK",
        "type": "Script",
        "z": "sd_lJYO07SmnSBK12KX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.employee_type = bh.local.result.response.employee_type;\npage.designation_list = bh.local.result.response.designation;\npage.managers_list = bh.local.result.response.manager;\n// console.log('res',bh.local.response)",
        "functionName": "sd_MKQz4rcZ8HorIjUK",
        "category": "Function",
        "x": 665,
        "y": 40,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "employee_detailsComponent",
        "generated": true
    },
    {
        "id": "sd_B6Yoe9MfY89ziRD5",
        "type": "PageStart",
        "z": "sd_lJYO07SmnSBK12KX",
        "viewType": "pages",
        "nodeType": "start",
        "name": "editEmployee",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "editEmployee",
        "category": "General",
        "x": 60,
        "y": 320,
        "wires": [
            [
                "sd_GvbP8QzIhzSLZYHV"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "employee_detailsComponent"
    },
    {
        "id": "sd_GvbP8QzIhzSLZYHV",
        "type": "Script",
        "z": "sd_lJYO07SmnSBK12KX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "  let joining_date = new Date(page.sample.start_date);\n    // let last_date = new Date(page.sample.end_date);\n\n    console.log('sample',page.sample);\n\npage.add_employee_form.controls['employee_id'].setValue(page.sample.employee_id);\npage.add_employee_form.controls['first_name'].setValue((page.sample.employee_name).split(' ')[0]);\npage.add_employee_form.controls['last_name'].setValue((page.sample.employee_name).split(' ').at(-1));\npage.add_employee_form.controls['start_date'].setValue(joining_date);\n// page.add_employee_form.controls['end_date'].setValue(last_date);\npage.add_employee_form.controls['reporting_managers'].setValue(page.sample?.reporting_manager);\npage.add_employee_form.controls['email'].setValue(page.sample.email);\npage.add_employee_form.controls['contact_no'].setValue(page.sample.contact_no);\npage.add_employee_form.controls['employee_type'].setValue(page.sample.employee_type_id);\npage.add_employee_form.controls['designation'].setValue(page.sample.designation_id);\n",
        "functionName": "sd_GvbP8QzIhzSLZYHV",
        "category": "Function",
        "x": 225,
        "y": 320,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "employee_detailsComponent",
        "generated": true
    },
    {
        "id": "sd_9oXqYqb9h2MWBe71",
        "type": "PageCallService",
        "z": "sd_lJYO07SmnSBK12KX",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_fC5enAPiMiCcXcjr",
            "type": "tab",
            "createdDate": "2023-01-03T13:02:31.646Z",
            "label": "add_update_emp",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_KbmtUuKD3NesgKKv",
            "flowName": "add_edit_employee"
        },
        "inputVariables": [
            {
                "key": "empData",
                "map": true,
                "valueType": "this.page",
                "value": "add_employee_form.value"
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "result",
                "valueType": "bh.local",
                "value": "result",
                "mapVarName": "result",
                "localVar": "bh.local.result"
            }
        ],
        "serviceImportPath": "app/sd-services/add_update_emp",
        "startName": "add_edit_employee",
        "inputParams": [
            "this.page.add_employee_form.value"
        ],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_9oXqYqb9h2MWBe71",
        "category": "General",
        "x": 265,
        "y": 140,
        "wires": [
            [
                "sd_3flcIh2ljpiJ4ZET"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "employee_detailsComponent",
        "generated": true
    },
    {
        "id": "sd_3flcIh2ljpiJ4ZET",
        "type": "SnackBar",
        "z": "sd_lJYO07SmnSBK12KX",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "bh.local",
            "value": "result.message"
        },
        "action": {
            "type": "str",
            "value": "OK"
        },
        "duration": {
            "type": "num",
            "value": "5000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_3flcIh2ljpiJ4ZET",
        "category": "General",
        "x": 365,
        "y": 140,
        "wires": [
            [
                "sd_IGJ5v4fyidHyijnt"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "employee_detailsComponent",
        "generated": true
    },
    {
        "id": "sd_IGJ5v4fyidHyijnt",
        "type": "CloseDialog",
        "z": "sd_lJYO07SmnSBK12KX",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "data": "this.page.add_employee",
        "functionName": "sd_IGJ5v4fyidHyijnt",
        "category": "Dialog",
        "x": 480,
        "y": 140,
        "wires": [
            []
        ],
        "__ssdTypeInputs__": {
            "data": {
                "type": "this.page",
                "value": "add_employee",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "employee_detailsComponent",
        "generated": true
    }
]
