client/designs/pages/Login/login.json
[
    {
        "id": "sd_6XaUT1Ha7BJjtmc4",
        "type": "tab",
        "createdDate": "2022-12-15T13:14:47.474Z",
        "label": "login",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "loginComponent"
    },
    {
        "id": "sd_PBtRfE5uX5wehbJr",
        "type": "OnInit",
        "z": "sd_6XaUT1Ha7BJjtmc4",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_PBtRfE5uX5wehbJr",
        "category": "Lifecycle Events",
        "x": 65,
        "y": 60,
        "wires": [
            [
                "sd_Tb1imGa4qCp7YZ1E"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "loginComponent"
    },
    {
        "id": "sd_Tb1imGa4qCp7YZ1E",
        "type": "PageVariables",
        "z": "sd_6XaUT1Ha7BJjtmc4",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "operation": "set",
        "globalVariables": [],
        "functionName": "sd_Tb1imGa4qCp7YZ1E",
        "category": "Function",
        "x": 185,
        "y": 60,
        "wires": [
            [
                "sd_yAFDCBgj6RkS8R0a"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "loginComponent",
        "generated": true
    },
    {
        "id": "sd_yAFDCBgj6RkS8R0a",
        "type": "UseDependency",
        "z": "sd_6XaUT1Ha7BJjtmc4",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "FormGroup",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/forms",
        "serviceDesignerType": "pages",
        "functionName": "sd_yAFDCBgj6RkS8R0a",
        "category": "Function",
        "x": 285,
        "y": 60,
        "wires": [
            [
                "sd_nkrw5uazfJdmx6dK"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "loginComponent",
        "generated": true
    },
    {
        "id": "sd_4Ojm88ewAJIo4cOA",
        "type": "PageStart",
        "z": "sd_6XaUT1Ha7BJjtmc4",
        "viewType": "pages",
        "nodeType": "start",
        "name": "loginUser",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "loginUser",
        "category": "General",
        "x": 65,
        "y": 160,
        "wires": [
            [
                "sd_bNgFOSklfonPSuOx"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "loginComponent"
    },
    {
        "id": "sd_zktIDGXDTtTdpVbZ",
        "type": "Script",
        "z": "sd_6XaUT1Ha7BJjtmc4",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.loginform = new FormGroup({\n    'email': new FormControl(''),\n    'password': new FormControl('')\n});",
        "functionName": "sd_zktIDGXDTtTdpVbZ",
        "category": "Function",
        "x": 565,
        "y": 60,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "loginComponent",
        "generated": true
    },
    {
        "id": "sd_6b8obnhe72SvZn7P",
        "type": "PageSwitch",
        "z": "sd_6XaUT1Ha7BJjtmc4",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "loginresponse.message",
        "propertyType": "bh.local",
        "propertyGv": "bh.local.loginresponse.message",
        "rules": [
            {
                "t": "eq",
                "v": "Invalid Username or Password ",
                "vt": "str",
                "gv": "\"Invalid Username or Password \""
            },
            {
                "t": "eq",
                "v": "Deactivated user login",
                "vt": "str",
                "gv": "\"Deactivated user login\""
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "functionName": "sd_6b8obnhe72SvZn7P",
        "category": "Function",
        "x": 420,
        "y": 160,
        "wires": [
            [
                "sd_cqDCb8pDnB76mCSi"
            ],
            [
                "sd_RM41TU79lEK8kZuE"
            ],
            [
                "sd_hbXbfe4lRQbnWKa5"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "loginComponent",
        "generated": true
    },
    {
        "id": "sd_cqDCb8pDnB76mCSi",
        "type": "SnackBar",
        "z": "sd_6XaUT1Ha7BJjtmc4",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Invalid Username or Password"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "2000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_cqDCb8pDnB76mCSi",
        "category": "General",
        "x": 565,
        "y": 140,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "loginComponent",
        "generated": true
    },
    {
        "id": "sd_hbXbfe4lRQbnWKa5",
        "type": "SnackBar",
        "z": "sd_6XaUT1Ha7BJjtmc4",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Login Successful"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "2000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_hbXbfe4lRQbnWKa5",
        "category": "General",
        "x": 505,
        "y": 300,
        "wires": [
            [
                "sd_rL2lMnvsSJpN3pQq"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "loginComponent",
        "generated": true
    },
    {
        "id": "sd_lw2JQ1UZBqAr0hxE",
        "type": "Navigation",
        "z": "sd_6XaUT1Ha7BJjtmc4",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/home/dashbord",
        "functionName": "sd_lw2JQ1UZBqAr0hxE",
        "category": "Navigation",
        "x": 785,
        "y": 300,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "loginComponent",
        "generated": true
    },
    {
        "id": "sd_nkrw5uazfJdmx6dK",
        "type": "UseDependency",
        "z": "sd_6XaUT1Ha7BJjtmc4",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "commonService",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "commonservice"
                },
                "injectable": true
            }
        ],
        "import_all": false,
        "library": "../../services/common/common.service",
        "serviceDesignerType": "pages",
        "functionName": "sd_nkrw5uazfJdmx6dK",
        "category": "Function",
        "x": 385,
        "y": 60,
        "wires": [
            [
                "sd_zktIDGXDTtTdpVbZ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "loginComponent",
        "generated": true
    },
    {
        "id": "sd_rL2lMnvsSJpN3pQq",
        "type": "Script",
        "z": "sd_6XaUT1Ha7BJjtmc4",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.commonservice.validUserToken = bh.local.loginresponse.response.token;\nbh.local.info = {\n    loggedIn: true,\n    designation: bh.local.loginresponse.response.designation_id,\n    validUserToken: bh.local.loginresponse.response.token,\n};",
        "functionName": "sd_rL2lMnvsSJpN3pQq",
        "category": "Function",
        "x": 605,
        "y": 300,
        "wires": [
            [
                "sd_yTKRXf3Zip4IvjjC"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "loginComponent",
        "generated": true
    },
    {
        "id": "sd_yTKRXf3Zip4IvjjC",
        "type": "Storage",
        "z": "sd_6XaUT1Ha7BJjtmc4",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "operationType": "setItem",
        "storageType": "sessionStorage",
        "outputs": 1,
        "key": {
            "type": "str",
            "value": "info"
        },
        "value": {
            "type": "bh.local",
            "value": "info"
        },
        "resultMapping": {},
        "functionName": "sd_yTKRXf3Zip4IvjjC",
        "category": "Storage",
        "x": 685,
        "y": 300,
        "wires": [
            [
                "sd_lw2JQ1UZBqAr0hxE"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "loginComponent",
        "generated": true
    },
    {
        "id": "sd_RM41TU79lEK8kZuE",
        "type": "SnackBar",
        "z": "sd_6XaUT1Ha7BJjtmc4",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Deactivated User"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "2000"
        },
        "horizontalPosition": "center",
        "horizontalPositionMap": "",
        "verticalPosition": "bottom",
        "verticalPositionMap": "",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_RM41TU79lEK8kZuE",
        "category": "General",
        "x": 565,
        "y": 220,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "loginComponent",
        "generated": true
    },
    {
        "id": "sd_bNgFOSklfonPSuOx",
        "type": "PageCallService",
        "z": "sd_6XaUT1Ha7BJjtmc4",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_RxBFNFN1m4sIAeA6",
            "type": "tab",
            "createdDate": "2022-12-30T06:47:16.379Z",
            "label": "login",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_YbFa6H6QX9o7f3nJ",
            "flowName": "login_api"
        },
        "inputVariables": [
            {
                "key": "details",
                "map": true,
                "valueType": "this.page",
                "value": "loginform.value"
            },
            {
                "key": "loginresponse",
                "map": true,
                "valueType": "bh.local",
                "value": ""
            }
        ],
        "outputMapping": [
            {
                "mapVarType": "input",
                "key": "loginresponse",
                "valueType": "bh.local",
                "value": "loginresponse",
                "mapVarName": "loginresponse",
                "localVar": "bh.local.loginresponse"
            }
        ],
        "serviceImportPath": "app/sd-services/login",
        "startName": "login_api",
        "inputParams": [
            "this.page.loginform.value",
            null
        ],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_bNgFOSklfonPSuOx",
        "category": "General",
        "x": 225,
        "y": 160,
        "wires": [
            [
                "sd_6b8obnhe72SvZn7P"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "loginComponent",
        "generated": true
    }
]
